.checkout-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.woman-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-container {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.logo-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.payment-step3-method {
    margin-bottom: 2rem;
    text-align: center;
}

.step3-payment-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.payment-step3-options {
    display: flex;
    flex-direction: column;
}

.payment-step3-option {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.payment-step3-option label {
    margin-left: 0.5rem;
}

.button-step3-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.custom-button {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.custom-button.secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.custom-button.primary {
    background-color: black;
    color: white;
}

.logo-bottom-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 2rem;
}

.company-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    .form-container {
        flex: 1 0 100%;
        width: 100%;
    }

    .form-content {
        margin-top: 3%;
    }

    .logo-image {
        max-width: 250px;
    }

    .company-logo {
        max-width: 200px;
        margin-bottom: 2rem;
    }
    .company-logo {
        margin-top: 1rem;
    }
}

@media (max-width: 375px) {
    .logo-top-container {
        height: auto;
    }

    .logo-image {
        max-width: 150px;
    }

    .form-content {
        margin-top: 5%;
    }

    .p-field {
        margin-bottom: 1rem;
    }

    .company-logo {
        max-width: 150px;
        margin-bottom: 2rem;
    }

    .logo-bottom-container {
        margin-top: 1rem;
    }
    .company-logo {
        margin-top: 1rem;
    }
}
