.form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    flex-grow: 1;
}

.custom-step3-input {
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.button-step3-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.custom-button {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.custom-button.secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.custom-button.primary {
    background-color: black;
    color: white;
}
