.checkout-container {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.flags-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.flag-icon {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
 
}

.logo-top-container {
    display: flex;
    justify-content: center;
    width: 100%;
}



.image-container {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.woman-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-container {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.logo-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.logo-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    flex-grow: 1;
}

.form-group {
    width: 100%;
}

.p-field {
    margin-bottom: 1.5rem;
    width: 100%;
}

.custom-input .p-inputtext,
.custom-input .p-inputnumber,
.p-inputtext.p-component.custom-input {
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
}

.description {
    width: 100%;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
}

.custom-button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #333;
}

.logo-bottom-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 2rem;
}

.company-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.error-message {
    font-size: 0.7rem;
    color: red;
    margin-top: 0.1rem;
    margin-left: 0.7rem;
}


@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    .form-container {
        flex: 1 0 100%;
        width: 100%;
    }

    .form-content {
        margin-top: 3%;
    }

    .logo-image {
        max-width: 250px; 
    }

    .company-logo {
        max-width: 200px;
        margin-bottom: 2rem; 
    }
}

@media (max-width: 375px) {
    .logo-top-container {
        height: auto;
    }

    .logo-image {
        max-width: 200px; 
    }

    .form-content {
        margin-top: 5%;
    }

    .p-field {
        margin-bottom: 1rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .company-logo {
        max-width: 150px;
        margin-bottom: 2rem; 
    }
}
